.header{
  display: flex;
  justify-content: space-around;
  background-color:rgb(107, 187, 107);
  padding:10px 30px ;
 
}
body{
  margin:0;
  padding:0;

}
.header ul {
  display:flex;
  list-style-type: none;
  gap:20px;
  margin:auto;
  justify-content:space-around ;
  width: 200px;
}
.header ul li{
  padding: 10px;
}
.header .link h2{
margin:0;
}
.header .link {
  text-decoration: none;
  font-size: 20px;
}
